.Rproj.user
.Rhistory
.RData
.Ruserdata
.nc
.rds
.Rproj

/Demo/Data/Raw
/Demo/Data/Processed
/Demo/Drafts
/Demo/PlotFunctions
/Demo/Plots
/Demo/ChangeOfSupport
/Demo/Computation/CreateSIMPLEdailyProfile.R
/Demo/Computation/TestingCompute.R
/Demo/Computation/ComputeSimplifiedDailyData.R
/Demo/Computation/Compute2.R
/Demo/Computation/CreateDailyProfile.R
NH3_Emissions_Images_Timelapse_2000
